# OS or Editor folders
*.esproj
*.komodoproject
.komodotools
*.sublime-*
._*
.cache
.DS_Store
.vscode
.idea
.project
.settings
.tmproj
nbproject
Thumbs.db

# npm
node_modules
npm-debug.log
yarn-error.log

# project files
*.test.js
.__DLLs
typings
lib
scripts/component_list.json
